@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta);
}

body {
  background: var(--background);
  color: var(--foreground);
}
